<div class="banner mb-3">
  <div class="container">
    <h1>Jan, create <strong>your</strong> favorite list!</h1>
    <h2><span data-controller="typed-js"></span></h2>
    <p><%= link_to "Create list", new_list_path, class: "btn btn-info" %></p>
  </div>
</div>

<div class="cards mb-3">
  <% @lists.each do |list| %>
    <div class="card">
      <%# This creates a url page from random movie in a list %>
      <% if list.movies.empty? %>
        <%= cl_image_tag("https://res.cloudinary.com/dtke2msby/image/upload/v1675976724/rails-watch-list/general_poster_llk8qq.jpg", class: "opacity-50") %>
      <% else %>
        <%= image_tag ("https://image.tmdb.org/t/p/original" + list.movies.sample["poster_url"]) %>
      <% end %>
      <div class="card-body text-center">
        <h5 class="card-title"><%= link_to list.name, list_path(list), class: "btn btn-primary rounded-3" %></h5>
        <%= link_to "Delete",
            list_path(list),
            class: "btn btn-outline-danger",
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      </div>
    </div>
  <% end %>
</div>
