<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <%= @list.name %>
</div>

<%# To display: bookmarked movies, info, pictures %>
<% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
  <h3><%= movie.title %></h3>
  <p><%= movie.overview %></p>

<%# To display: delete bookmark %>

<%= link_to "Delete",
    bookmark_path(bookmark),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<% end %>
<%# To display: option to add a bookmark - button %>
<p><%= link_to "Add a movie", new_list_bookmark_path(@list) %></p>
<%# To display: option to return to my list %>
<p><%= link_to "Back to my lists", lists_path %></p>
