<div class="card-category mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 350, crop: :fill %>')">
  <div class="card-category-name"><h1><%= @list.name %></h1></div>
  <div class="card-category-movie-count">
    <p>
      <% if @list.movies.count > 1 %>
        <%= @list.movies.count %> movies
      <% elsif @list.movies.count == 0 %>
        no movies 😢
      <% else %>
        <%= @list.movies.count %> movie
      <% end %>
    </p>
  </div>
</div>

<%# To display: option to add a bookmark - button %>
<div class="container mb-3 d-flex justify-content-end">
  <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
</div>

<div class="cards mb-3">
  <%# To display: bookmarked movies, overiview, picture %>
  <% @list.bookmarks.each do |bookmark| %>
   <%# <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <div class="card mb-3">
      <%# This creates a url page from random movie in a list %>
        <%= image_tag ("https://image.tmdb.org/t/p/original" + bookmark.movie["poster_url"]) %>
        <div class="card-body text-center">
        <h5 class="card-title"><%= bookmark.movie.title %>・<%= bookmark.movie.rating %> ⭐️ </h5>
        <p class="fw-lighter"><%= bookmark.movie.overview %></p>
        <p class="fst-italic fw-light"><i class="fa-solid fa-quote-left"></i> <%= bookmark.comment %></p>

        <%# To display: delete bookmark %>
        <%= link_to "Delete",
          bookmark_path(bookmark),
          class: "btn btn-outline-danger",
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
      </div>
    </div>
  <% end %>
</div>

<%# Reviews section comes here %>
